<h2><%= @allocations.count(:all) %> allocations</h2>

<%= render 'filter_panel' %>

<div class="if-no-js-hide">
  <div id="map"></div>

  <%= render 'shared/marker_key' %>
</div>

<table class="allocations table table-striped">
  <thead>
  <tr>
    <th class="plan-ref"><span class="hidden-xs">Plan ref</span></th>
    <th>Address</th>
    <% if show_area_ha? %>
      <th>Area (ha)</th>
    <% end %>
    <% if show_construction_totals? %>
      <th>Not started</th>
      <th>Completed post-2012</th>
      <th>Under construction</th>
    <% end %>
    <th>Capacity</th>
  </tr>
  </thead>

  <tbody>
  <% @allocations.each do |allocation| %>
    <tr class="allocation" data-plan-ref="<%= allocation.plan_ref %>">
      <td class="plan-ref">
        <span class="plan-ref-content">
          <%= green_brown_glyphs(allocation) %>
          <%= link_to allocation.plan_ref, allocation %>
         </span>
      </td>
      <td><%= link_to allocation.address, allocation %></td>
      <% if show_area_ha? %>
        <td><%= allocation.area_ha %></td>
      <% end %>
      <% if show_construction_totals? %>
        <td><%= allocation.not_started %></td>
        <td><%= allocation.completed_post_2012 %></td>
        <td><%= allocation.under_construction %></td>
      <% end %>
      <td><%= allocation.capacity %></td>
    </tr>
  <% end %>
  </tbody>
</table>
