<div id="filters-container">
<a href="#filters-panel"
   id="filters-panel-collapser"
   role="button"
   data-toggle="collapse"
   class="btn btn-default collapser if-no-js-hide">
  <span class="glyphicon glyphicon-triangle-top"></span>
</a>
<div class="collapse in filters well well-lg col-lg-12" aria-expanded="true" id="filters-panel">
  <div class="filter-type">
    <label class="filter-type-heading">Greenfield status</label>

    <div class="btn-group greenfield-status" role="group" aria-label="Greenfield status">
      <div class="btn-group" role="group">
        <%= site_filter_link 'Greenfield', :by_green_status, 'green', glyphs: %w(glyphicon-tree-deciduous)  %>
      </div>
      <div class="btn-group" role="group">
        <%= site_filter_link 'Brownfield', :by_green_status, 'brown', glyphs: %w(glyphicon-oil)  %>
      </div>
      <div class="btn-group" role="group">
        <%= site_filter_link 'Mixed', :by_green_status, 'mix', glyphs: %w(glyphicon-tree-deciduous glyphicon-oil) %>
      </div>
      <div class="btn-group" role="group">
        <%= site_filter_link 'All', :by_green_status, :all, glyphs: %w(glyphicon-list) %>
      </div>
    </div>
  </div>

  <% if should_show_score_filter? %>
    <div class="filter-type">
      <label class="filter-type-heading">With scores</label>

      <div class="btn-group" role="group" aria-label="Greenfield status">
        <div class="btn-group" role="group">
          <%= site_filter_link 'With', :with_scores, '1', glyphs: %w(glyphicon-ok-circle) %>
        </div>
        <div class="btn-group" role="group">
          <%= site_filter_link 'Without', :with_scores, '0', glyphs: %w(glyphicon-remove-circle) %>
        </div>
        <div class="btn-group" role="group">
          <%= site_filter_link 'All', :with_scores, :all, glyphs: %w(glyphicon-list) %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="filter-type">
    <%= form_tag(sites_path, method: 'get', role: 'form') do %>
      <%= hidden_field_tag(:by_green_status, params[:by_green_status]) %>
      <%= hidden_field_tag(:with_scores,     params[:with_scores])  %>

      <label class="filter-type-heading" for="containing_text">Containing text</label>

      <div class="input-group">
        <%= text_field_tag 'containing_text', params[:containing_text], class: 'form-control', placeholder: 'Containing...' %>
        <span class="input-group-btn">
          <%= button_tag 'Search', name: nil, class: 'btn btn-default' %>
        </span>
      </div>
    <% end %>
  </div>

  <div class="filter-type io-rag">
    <label class="filter-type-heading">I&O RAG</label>

    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <%= selected_io_rag_label %> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><%= link_to 'All', sites_path(current_scopes.except(:by_io_rag)) %></li>
        <% RAGStatus.all.each do |status| %>
          <% if status.abbr == 'AV' %>
            <li class="divider"></li>
          <% end %>
          <li>
            <%= link_to status.display_name, sites_path(current_scopes.merge(by_io_rag: status.abbr)) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
</div>
