
<h2 class="site-total-score">
  Total <%= link_to 'score', glossary_path(anchor: 'sustainability-appraisal-scores') %>
  <span class="label <%= total_css_class(@site.total_score) %>">
    <%= @site.total_score %>
  </span>
</h2>

<table class="scores">
  <thead>
    <tr>
      <th class="hidden-xs">SA code</th>
      <th>Description</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <% @site.scores.each do |score| %>
      <tr>
        <td class="hidden-xs"><%= score.score_type.sa_objective_code %></td>
        <td>
          <span class="help">
            <span class="glyphicon glyphicon-question-sign"></span>
            <pre class="show-on-hover"><%= score.score_type.scoring_descriptions %></pre>
            <%= link_to score.score_type.description, score.score_type %>
          </span>
        </td>
        <td class="<%= present(score).css_class %>">
          <%= score.score %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
