<% disable_sorting ||= false %>
<% numbered_rows   ||= false %>

<table class="sites table table-striped">
  <thead>
  <tr>
    <% if numbered_rows %>
      <th class="number"></th>
    <% end %>
    <th class="shlaa-ref"><span class="hidden-xs">SHLAA ref</span></th>
    <th>Address</th>
    <th class="<%= "hidden-xs" if showing_scores? %>">
      <%= site_sort_link 'Area (ha)', :sort_by_area, disable_sorting: disable_sorting %>
    </th>
    <th><%= site_sort_link 'Capacity', :sort_by_capacity, disable_sorting: disable_sorting %></th>
    <th class="hidden-xs hidden-sm">I&O / RAG</th>
    <th class="hidden-xs hidden-sm">Settlement hierarchy</th>
    <th class="hidden-xs hidden-sm">Reason</th>
    <% if showing_scores? %>
      <th class="site-total-score col-lg-1 col-md-1 col-sm-1">
        <%= site_sort_link 'Score', :sort_by_score, disable_sorting: disable_sorting %>
      </th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% @sites.each_with_index do |site, index| %>
    <tr class="site" data-shlaa-ref="<%= site.shlaa_ref %>">
      <% if numbered_rows %>
        <td class="number"><%= index + 1 %></th>
      <% end %>
      <td class="shlaa-ref">
        <span class="shlaa-ref-content">
          <%= green_brown_glyphs(site) %>
          <%= link_to site.shlaa_ref, site %>
         </span>
      </td>
      <td><%= link_to site.address, site %></td>
      <td class="<%= "hidden-xs" if showing_scores? %>"><%= site.area_ha %></td>
      <td><%= site.capacity %></td>
      <td class="hidden-xs hidden-sm"><%= site.io_rag %></td>
      <td class="hidden-xs hidden-sm"><%= site.settlement_hierarchy %></td>
      <td class="hidden-xs hidden-sm"><%= site.reason %></td>
      <% if showing_scores? %>
        <td class="site-total-score col-lg-1 col-md-1 col-sm-1 <%= total_css_class(site.total_score) %>">
          <%= site.total_score || '–' %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
