<p id="notice"><%= notice %></p>

<h1>Leeds Site Allocations</h1>

<table>
  <thead>
    <tr>
      <th>SHLAA ref</th>
      <th>Address</th>
      <th>Area (ha)</th>
      <th>Capacity</th>
      <th>IO / RAG</th>
      <th>Settlement hierarchy</th>
      <th>Greenfield / brownfield</th>
      <th>Reason</th>
    </tr>
  </thead>

  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><%= link_to site.shlaa_ref, site %></td>
        <td><%= site.address %></td>
        <td><%= site.area_ha %></td>
        <td><%= site.capacity %></td>
        <td><%= site.io_rag %></td>
        <td><%= site.settlement_hierarchy %></td>
        <td><%= site.green_brown %></td>
        <td><%= site.reason %></td>
      </tr>
    <% end %>
  </tbody>
</table>
