<%= content_for :title, 'Sites' %>
<%= content_for :head do %>
  <link rel="alternate"
        type="application/vnd.geo+json"
        href="<%= sites_path(current_scopes).sub(/sites(\?)?/, 'sites.geojson\1') %>">
<% end %>

<p id="notice"><%= notice %></p>

<%= render 'filter_panel' %>

<h2><%= @sites.count(:all) %> sites</h2>

<div class="if-no-js-hide map-container">
  <div id="map" class="sites"></div>

  <% if showing_scores? %>
    <%= render 'shared/marker_key' %>
  <% end %>
</div>

<%= render 'sites_table' %>
