<p id="notice"><%= notice %></p>

<dl>
  <dt>SHLAA ref</dt>
  <dd><%= @site.shlaa_ref %></dd>

  <dt>Address</dt>
  <dd><%= @site.address %></dd>

  <dt>Area HA</dt>
  <dd><%= @site.area_ha %></dd>

  <dt>Capacity</dt>
  <dd><%= @site.capacity %></dd>

  <dt>IO / RAG</dt>
  <dd><%= @site.io_rag %></dd>

  <dt>Settlement hierarchy</dt>
  <dd><%= @site.settlement_hierarchy %></dd>

  <dt>Greenfield / brownfield</dt>
  <dd><%= @site.green_brown %></dd>

  <dt>Reason</dt>
  <dd><%= @site.reason %></dd>
</dl>

<%= link_to 'Back', sites_path %>
