<div class="site">
<%= content_for :title, site_display_name(@site) %>
<%= content_for :head do %>
  <link rel="alternate" type="application/vnd.geo+json" href="<%= site_path(@site, format: :geojson) %>">
<% end %>

<p id="notice"><%= notice %></p>

<h2 class="col-lg-12">
  <%= green_brown_glyphs(@site) %>
  <%= @site.address %>
</h2>

<div id="map" class="if-no-js-hide sites"></div>

<div class="site-details well well-lg col-md-12">
  <dl class="col-md-6">
    <dt>SHLAA ref</dt>
    <dd><%= @site.shlaa_ref %></dd>

    <dt>Area HA</dt>
    <dd><%= @site.area_ha %></dd>

    <dt>Capacity</dt>
    <dd><%= @site.capacity %></dd>
  </dl>

  <dl class="col-md-6">
    <dt>IO / RAG</dt>
    <dd><%= @site.io_rag %></dd>

    <dt>Settlement hierarchy</dt>
    <dd><%= @site.settlement_hierarchy %></dd>

    <dt>Greenfield / brownfield</dt>
    <dd>
      <%= green_brown_glyphs(@site) %>
      <%= @site.green_brown %>
    </dd>
  </dl>

  <div class="reason">
    <label>Reason</label>
    <p><%= @site.reason %></p>
  </div>
</div>

<% if @site.scores.any? %>
  <%= render 'scores' %>
<% end %>

</div>
