<p id="notice"><%= notice %></p>

<p>
  <strong>Shlaa ref:</strong>
  <%= @site.shlaa_ref %>
</p>

<p>
  <strong>Address:</strong>
  <%= @site.address %>
</p>

<p>
  <strong>Area ha:</strong>
  <%= @site.area_ha %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @site.capacity %>
</p>

<p>
  <strong>Io rag:</strong>
  <%= @site.io_rag %>
</p>

<p>
  <strong>Settlement hierarchy:</strong>
  <%= @site.settlement_hierarchy %>
</p>

<p>
  <strong>Green brown:</strong>
  <%= @site.green_brown %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @site.reason %>
</p>

<%= link_to 'Back', sites_path %>
