<div class="page-header"><h1>Statistics</h1></div>

<%= render partial: 'tabs', locals: { active: 'Distribution' } %>

<div class="distribution canvas-container">
  <div class="legend"></div>
  <canvas id="distribution-chart"></canvas>
</div>

<script type="text/javascript">
  <% by_score = @distribution.group_by(&:total_score)  %>

  var data = {
    labels: [
      <%= by_score.each_pair.map {|pair| pair.first}.compact.join(',') %>
    ],
    datasets: [
      {
        label: "Green",
        fillColor: "<%= named_to_rgba(doughnut_color('green'), alpha: 0.75) %>",
        strokeColor: "<%= named_to_rgba(doughnut_color('green', highlight: true), alpha: 0.75) %>",
        pointColor: "<%= named_to_rgba(doughnut_color('green', highlight: true), alpha: 0.75) %>",
        pointStrokeColor: "white",
        data: <%=
         by_score.each_pair.map do |score, rows|
           row = rows.find {|row| row.coalesced_green_brown == 'green'}
           row.present? && score.present? ? row.count : 0
         end
        %>

      },
      {
        label: "Brown",
        fillColor: "<%= named_to_rgba(doughnut_color('brown'), alpha: 0.75) %>",
        strokeColor: "<%= named_to_rgba(doughnut_color('brown', highlight: true), alpha: 0.75) %>",
        pointColor: "<%= named_to_rgba(doughnut_color('brown', highlight: true), alpha: 0.75) %>",
        pointStrokeColor: "white",
        data: <%=
         by_score.each_pair.map do |score, rows|
           row = rows.find {|row| row.coalesced_green_brown == 'brown'}
           row.present? && score.present? ? row.count : 0
         end
        %>

      },
      {
        label: "Mix",
        fillColor: "<%= named_to_rgba(doughnut_color('mix'), alpha: 1.0) %>",
        strokeColor: "<%= named_to_rgba('black', alpha: 1.0) %>",
        pointColor: "<%= named_to_rgba(doughnut_color('mix', highlight: true), alpha: 1.0) %>",
        pointStrokeColor: "white",
        data: <%=
         by_score.each_pair.map do |score, rows|
           row = rows.find {|row| row.coalesced_green_brown == 'mix'}
           row.present? && score.present? ? row.count : 0
         end
        %>

      }
    ]
  };
</script>

