<div class="page-header"><h1>Statistics</h1></div>

<%= render partial: 'tabs', locals: { active: 'Distribution' } %>

<div class="distribution canvas-container">
  <div class="legend"></div>
  <canvas id="distribution-chart"></canvas>
</div>

<script type="text/javascript">
  <% by_score = @distribution.group_by(&:total_score)  %>

  var data = {
    labels: [
      <%= by_score.each_pair.map {|pair| pair.first}.compact.join(',') %>
    ],
    datasets: [
      <%=  distribution_dataset('green', by_score) %>,
      <%=  distribution_dataset('brown', by_score) %>,
      <%=  distribution_dataset('mix', by_score) %>
    ]
  };
</script>

