<%= content_for :title, 'Site distribution by score' %>

<div class="page-header"><h1>Statistics</h1></div>

<%= render partial: 'tabs', locals: { active: 'Distribution' } %>

<h2><%= content_for :title %></h2>

<p>The total of greenfield, brownfield, and mixed sites for each total
   sustainability appraisal score. You can see that brownfield sites tend to have
   positive scores and greenfield sites tend to have negative scores.</p>

<div class="distribution canvas-container">
  <label class="axis y">Total number of sites</label>
  <canvas id="distribution-chart"></canvas>
  <label class="axis x">Sustainability Appraisal score</label>
</div>

<script type="text/javascript">
  <% by_score = @distribution.group_by(&:total_score)  %>

  var data = {
    labels: [
      <%= by_score.each_pair.map {|pair| pair.first}.compact.join(',') %>
    ],
    datasets: [
      <%=  distribution_dataset('green', by_score) %>,
      <%=  distribution_dataset('brown', by_score) %>,
      <%=  distribution_dataset('mix', by_score) %>
    ]
  };
</script>

