<div class="page-header"><h1>Statistics</h1></div>

<div class="canvas-container">
  <div class="legend"></div>
  <canvas id="summary-chart"></canvas>
</div>

<script type="text/javascript">
  var data = [
    <% @green_brown_summary.each do |line| %>
    {
      label: "<%= line.coalesced_green_brown.humanize %>",
      value: <%= line.count %>,
      color: "<%= doughnut_color(line.coalesced_green_brown) %>",
      highlight: "<%= doughnut_color(line.coalesced_green_brown, highlight: true) %>"
    },
    <% end %>
  ]
</script>

<h2>Scores</h2>
<table class="averages table table-striped">
  <thead>
    <th></th>
    <th>Avg</th>
    <th>Min</th>
    <th>Max</th>
  </thead>
  <tbody>
  <% @green_brown_summary.each do |line| %>
    <tr>
      <td>
        <%= site_filter_link line.coalesced_green_brown.humanize,
                             :by_green_status,
                             line.coalesced_green_brown,
                             class: '' %>
      </td>
      <td class="site-total-score <%= total_css_class(line.average) %>"><%= line.average %></td>
      <td class="site-total-score <%= total_css_class(line.min) %>"><%= line.min %></td>
      <td class="site-total-score <%= total_css_class(line.max) %>"><%= line.max %></td>
    </tr>
  <% end %>
  </tbody>
</table>

