<%= content_for :head do %>
  <link rel="alternate"
        type="application/vnd.geo+json"
        href="<%= unsustainable_stats_path(format: :geojson) %>">
<% end %>

<div class="page-header"><h1>Statistics</h1></div>

<%= render partial: 'tabs', locals: { active: 'Unsustainable' } %>

<h2>Top 10 unsustainable sites</h2>

<p>
  These are the top 10 sites in Leeds that are earmarked for allocation.
  They have an IO/RAG of "G" or "LG" and very low Sustainability Appraisal scores.
</p>

<div id="map"></div>

<% if showing_scores? %>
  <%= render 'shared/marker_key' %>
<% end %>

<%= render partial: 'sites/sites_table', locals: { disable_sorting: true, numbered_rows: true } %>
